# Global ignores for all projects
.DS_Store
Thumbs.db
*.log

# -------------------
# API (PHP) 
# -------------------

# Composer dependencies
/api/vendor/

# Local environment files
/api/.env
/api/.env.local

# PHPStorm / VSCode project files 
.idea/
.vscode/

# Cache, logs, and temp files
/api/storage/logs/*
/api/storage/framework/cache/*
/api/storage/framework/sessions/*
/api/storage/framework/views/*
/api/tmp/


# -------------------
# Client (React) 
# -------------------

# Node.js dependencies
/client/node_modules/

# Production build
/client/build/

# Local environment files
/client/.env
/client/.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

